<app-header></app-header>
<div class="container mt-5">
    <div class="jumbotron bg-transparent">
        <h1 class="display-4">Hello and welcome! :)</h1>
        <p class="lead">This is just random, to make this page look less empty. Enjoy!</p>
        <hr class="my-4">
        <p>And this is humbug aswell..</p>
        <a class="btn btn-info btn-lg" href="#" role="button">Random button</a>
      </div>
</div>

<div class="container mt-5">
<div class="card-deck">
    <div class="card">
      <img src="https://images.8tracks.com/cover/i/010/008/675/tumblr_nahuofGoRi1st0ypno1_500-6205.jpg?rect=0,119,500,500&q=98&fm=jpg&fit=max" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Topical vibes</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/tropicalifornia-sponge-painted-abstract-tropical-pineapple-tina-lavoie.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Topical vibes</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="https://is2-ssl.mzstatic.com/image/thumb/Music60/v4/15/62/1c/15621c8e-2a04-730a-b13e-3614375c8ade/018736800962.jpg/268x0w.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Topical vibes</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>

